/*
http://paletton.com/#uid=20T0v0kaVz84jP27qHbeJtFiHpX

#FFF3DD
#FFEAC4
#FFE0A8
#ECC680
#CFA456

#C4CEDF
#A0AFCA
#7B8FB1
#5B749D
#415B89
*/

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #FFF3DD
}

.header {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #415B89;
}

.header_element {
	-moz-box-shadow:inset 0px 1px 0px 0px #5B749D;
	-webkit-box-shadow:inset 0px 1px 0px 0px #5B749D;
	box-shadow:inset 0px 1px 0px 0px #CFA456;
    background: #C4CEDF;
    background: linear-gradient(#C4CEDF, #415B89);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#C4CEDF),color-stop(1,#415B89));
	background:-moz-linear-gradient( center top, #C4CEDF 5%, #415B89 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C4CEDF', endColorstr='#415B89');
	border:1px solid #415B89;
	display:inline-block;
	color:#FFF3DD;
	font-size:20px;
	font-weight:bold;
	height:65px;
	line-height:65px;
	width:150px;
	text-align:center;
	text-shadow:1px 1px 0px #415B89;
}
.header_element:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #415B89), color-stop(1, #C4CEDF) );
}
.header_element:active {
	position:relative;
	top:1px;
}

.tag_line {
    float:left;
    padding:50px;
}

.single_app {
    float:left;
    padding:25px;
}

.fresh_line {
    clear: left;
}

.install_column {
    float:left;
    width:30%;
    padding-right:25px;
    min-width:275px;
}

.app_icon_overlay {
    position:relative;
    float:left;
}

.text_overlay {
    position:absolute;
    background:#C4CEDF;
    bottom:0;
    left:0.5em;
    color:#415B89;
    padding-left:5px;
    padding-right:5px;
    opacity: 0.85;
    border-radius:15px;
    font-weight:bold;
    font-size:14px;
}