<!--Navigation Bar -->
<div ng-include src="'views/navbar.html'"></div>

<div>
    <div class="app_icon_overlay">
        <img src="{{appData.icon}}">

        <div class="text_overlay">
            <p>{{appData.name}}</p>
        </div>
    </div>

    <div class="tag_line">
        <h2>Choose your operating system</h2>
    </div>
</div>

<br class="fresh_line"/>

<div>
    <div class="install_column" ng-repeat="osInstall in installData">
        <a href="{{osInstall.link}}">
            <img src="{{osInstall.icon}}">
            <br/>
            <h3>{{osInstall.os}}</h3>
        </a>
        </br>

        <span ng-repeat="line in osInstall.description">
            <p ng-bind-html="line | linky">
                {{line}}
            </p>
        </span>
    </div>
</div>

<br class="fresh_line"/>

<div class="app_media">
    <div ng-show="videoUrl">
        <iframe width="420" height="315" ng_src="{{videoUrl}}" frameborder="0" allowfullscreen></iframe>
    </div>

    <a ng-show="appData.package" href="https://play.google.com/store/apps/details?id={{appData.package}}" style="color:rgb(0,178,179);background-color:rgb(212,255,255);line-height:40px;text-align:center"><img border="0" src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" style="font-size:10pt;line-height:1.25;text-align:left;display:block;margin-right:auto"></a>
</div>

<br class="fresh_line"/>

<span>
    <a href="{{privacyPolicyLink}}">Privacy Policy</a>
</span>