<!--Navigation Bar -->
<div ng-include src="'views/navbar.html'"></div>

<div class="app_details">
    <!-- Display Icon with title -->
    <div class="app_icon_overlay">
        <img src="{{appData.icon}}">

        <div class="text_overlay">
            <p>{{appData.name}}</p>
        </div>
    </div>

    </br>

    <!-- Insert any data for the app description or notes -->
    <span ng-repeat="line in appData.description">
        <p ng-bind-html="line | linky">
            {{line}}
        </p>
    </span>
    
    <!-- Insert specific links if available -->
    <span ng-repeat="linkDetail in linkDetails">
        </br>
        <a href="#{{linkDetail.link}}">{{linkDetail.text}}</a>
    </span>
    
    <!-- Show download link if available -->
    <h1 ng-show="appData.downloadLink"><a href="{{appData.downloadLink}}">Download Server</a></h1>
</div>

<br class="fresh_line"/>

<div class="app_media">
    <!-- If there are videos display them -->
    <div ng-show="videoUrls">
        <span ng-repeat="videoUrl in videoUrls">
            <iframe width="420" height="315" ng_src="{{videoUrl}}" frameborder="0" allowfullscreen></iframe>
        </span>
    </div>

    <!-- Provide Google Play download links -->
    <a ng-show="appData.package" href="https://play.google.com/store/apps/details?id={{appData.package}}" style="color:rgb(0,178,179);background-color:rgb(212,255,255);line-height:40px;text-align:center"><img border="0" src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" style="font-size:10pt;line-height:1.25;text-align:left;display:block;margin-right:auto"></a>
</div>